.main-panel {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-flow: row;

    &_tabs {
        width: 40px;
        height: 100%;
    }

    &_tab {
        width: 40px;
        height: 40px;
        box-sizing: border-box;
        border: 1px solid #393939;
        top: -30px;
        text-align: center;

        &__right {
            right: 0;
        }

        &__center {
            left: 34.5%;
        }
    }

    &_container {
        flex: 1 1 auto;
    }
}
