.resources {
    height: 120px;
    padding: 0;
    margin: 0;

    &_block {
        width: 72px;
        height: 120px;
        display: inline-block;
        padding: 0 5px;
    }

    &_block-cost {
        text-align: center;
    }

    &_lines {
        height: 104px;
        padding: 0;
        margin: 0;
    }

    &_line {
        width: 100%;
        height: 24px;
        display: inline-block;
    }

    &_price {
        float: left;
    }

    &_items {
        width: 72px;
        height: 24px;
        text-align: center;
    }
}
