.buildings {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 auto;
    vertical-align: middle;
    background-image: url(./images/efficiency.svg);
    background-size: cover;
    font-size: 20px;
    background-repeat: no-repeat;
}
