.resources-buy {
    display: flex;

    &_container {
        flex: 1 1 auto;
    }

    &_action {
        flex: 0 1 auto;
        display: flex;
        flex-direction: column;
    }

    &_count {
        display: inline-block;
        min-width: 15px;
    }

    &_info {
        width: 100%;
    }

    &_cost {
        display: inline-block;
        width: 50%;
    }

    &_clear {
        display: inline-block;
        width: 50%;
    }

    &_resources {
        min-height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_resource {
        box-sizing: border-box;
        border: 1px solid #454545;
        width: 80px;
    }

    &_price {
        display: inline-block;
    }

    &_block {
        display: inline-block;
        float: left;
        height: 120px;
        text-align: center;
    }

    &_control {
        width: 40px;
        height: 40px;
        flex: 1 0 auto;
    }

    &_extender {
        flex: 1 1 auto;
    }
}
