.action-bet {
    display: flex;
    flex-flow: row;

    &_value {
        display: flex;
        flex-flow: row;
        height: 40px;
        width: 100%;
    }

    &_value-button {
        width: 40px;
    }

    &_station {
        flex: 0 1 auto;
    }

    &_action {
        flex: 1 1 auto;
    }

    &_control {
        position: relative;
    }

    &_slider {
        width: 100%;
        height: 100%;
    }

    &_bet {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
    }

    &_action-button {
        position: absolute;
        bottom: 10px;
        width: 60px;
        height: 60px;
        margin: 0 10px;

        &__right {
            right: 0;
        }
    }
}
